body {
    background-color: rgb(250, 185, 236);
    text-align: center;
  }
  
  .SignIn{
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  
  h1{
    font-size: x-large;
    text-align: center;
    color: black;
  }
  
  label{
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: blue;
    font-weight: bold;
  }
  
  input{
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #282c34;
    border-radius: 3px;
    font-size: 12px;
  }
  
  input[type="radio"] {
    display: inline;
    width: 10%;
  }
  
  textarea{
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
  }
  
  button{
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    color: aliceblue;
    cursor: pointer;
    background-color: blueviolet;
    width: 40%;
    font-size: 15px;
  }
  
  button:hover{
    background-color: azure;
  }
  